<section class="app-footer">
    <div class="container-fluid">
        <span class="pull-left">
            <span>Copyright © <a class="brand" target="_blank" ng-href="{{app.link}}">{{::app.brand}}</a> {{::app.year}}</span>
            <span style="margin-left: 70px;"></span>
            <span><a class="brand" ng-href="/#/signin">Panel admin</a></span>
        </span>
        <span class="pull-right">
            <span>Hecho con amor <i class="material-icons">favorite_border</i></span>
        </span>
    </div>
</section>
