<div class="app-header">
    <div class="app-header-inner"
         data-ng-class="{'bg-light': ['11','12','13','14','15','16','21'].indexOf(app.colorOption) >= 0,
                         'bg-dark': app.colorOption === '31',
                         'bg-primary': ['22','32'].indexOf(app.colorOption) >= 0,
                         'bg-success': ['23','33'].indexOf(app.colorOption) >= 0,
                         'bg-info': ['24','34'].indexOf(app.colorOption) >= 0,
                         'bg-warning': ['25','35'].indexOf(app.colorOption) >= 0,
                         'bg-danger': ['26','36'].indexOf(app.colorOption) >= 0}">

        <div class="hidden-lg hidden-md pull-left">
            <a href="" toggle-sidebar class="header-icon toggle-sidebar-btn">
                <i class="material-icons">menu</i>
            </a>
        </div>


        <div class="brand hidden-xs hidden-sm">
            <h2><a href="#/">{{::app.brand}}</a></h2>
        </div>
        <div class="top-nav-right" ng-controller="DashboardCtrl">
            <ul class="list-unstyled pull-right">
                <li>
                    <md-menu md-position-mode="left bottom">
                        <md-button class="header-btn" aria-label="menu" ng-click="$mdOpenMenu($event)">
                            <i class="material-icons">shopping_cart</i>
                            <span class="badge">{{storage.list.length}}</span>
                        </md-button>
                        <md-menu-content width="4">
                            <md-list class="ui-md-list">
                                <md-list-item class="md-2-line" ng-click="removeCart($index)" ng-repeat="prod in storage.list">
                                    <img src="{{URL + prod.image}}" class="md-avatar" alt="Product">
                                    <div class="md-list-item-text">
                                        <h3>{{prod.name}}</h3>
                                        <p>${{prod.price}}</p>
                                        <p>{{prod.qty}} unidades</p>
                                    </div>
                                    <md-icon ng-click="clearGroup($index)" aria-label="Borrar producto" class="md-secondary material-icons" ng-class="{'md-primary': person.newMessage}">clear</md-icon>
                                </md-list-item>
                                <md-list-item class="md-2-line" ng-click="">
                                    <div class="md-list-item-text">
                                        <h3>Pagar</h3>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-menu-content>
                    </md-menu>
                </li>
            </ul>
        </div>

    </div>
</div>
