<ul class="nav" data-accordion-nav data-slim-scroll data-highlight-active data-append-sub-menu-icon ng-controller="DashboardCtrl">
    <li>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Busqueda</label>
                <input ng-model="info.input">
            </md-input-container>
            <md-button class="md-fab md-mini md-primary search-button" ng-click="search()" aria-label="Buscar">
                <md-icon class="material-icons">search</md-icon>
            </md-button>
        </div>
    </li>

    <li class="nav-header">Filtros de busqueda</li>
    <li>
        <a md-button aria-label="menu" href="#/app/table"><i class="nav-icon material-icons">list</i>Categorias</a>
        <ul>
            <md-radio-group class="ui-md-radio-group-inline" ng-model="info.category">
                <li ng-repeat="cat in categories"><md-radio-button value="{{cat.id}}">{{cat.name}}</md-radio-button></li>
            </md-radio-group> 
        </ul>
    </li>
    <li><md-button aria-label="menu" ng-click="cancelSearch()"><i class="nav-icon material-icons">cancel</i>Cancelar Busqueda</md-button></li>
</ul>
