<div class="app-content-wrapper">
    <div class="app-content">
    	<section class="page-with-tabs">
    		<md-button class="pull-right md-primary to-commerce" >Ir al comercio</md-button>
		    <div class="page-title">
		        <h2>Panel administrativo</h2>
		    </div>

		    <md-tabs md-dynamic-height>
		        <md-tab>
		            <md-tab-label>Categorias</md-tab-label>
		            <md-tab-body>
		                <div class="box box-default">
		                    <div class="box-body no-padding">
		                        <md-list>
		                            <md-list-item ng-click="">
		                                <p>Categoria1</p>
		                                <md-icon ng-click="" aria-label="Edit" class="md-secondary material-icons">edit</md-icon>
		                                <md-icon ng-click="" aria-label="Edit" class="md-secondary material-icons">clear</md-icon>
		                            </md-list-item>
		                        </md-list>                          
		                    </div>
						</div> 
		            </md-tab-body>
		        </md-tab>
		        <md-tab>
		            <md-tab-label>Productos</md-tab-label>
		            <md-tab-body>
		                <div class="box box-default">
		                    <div class="box-body no-padding">
		                        <md-list>
		                            <md-list-item ng-click="">
		                                <p>Producto1</p>
		                                <md-icon ng-click="" aria-label="Edit" class="md-secondary material-icons">edit</md-icon>
		                                <md-icon ng-click="" aria-label="Edit" class="md-secondary material-icons">clear</md-icon>
		                            </md-list-item>
		                        </md-list>                          
		                    </div>
						</div> 
		            </md-tab-body>
		        </md-tab>
		        <md-tab>
		            <md-tab-label>Ordenes</md-tab-label>
		            <md-tab-body>
		                <div class="box-body no-padding">
		                        <md-list>
		                            <md-list-item ng-click="">
		                                <p>Producto1</p>
		                                <md-icon ng-click="" aria-label="Edit" class="md-secondary material-icons">edit</md-icon>
		                                <md-icon ng-click="" aria-label="Edit" class="md-secondary material-icons">clear</md-icon>
		                            </md-list-item>
		                        </md-list>                          
		                    </div>
		            </md-tab-body>
		        </md-tab>
		    </md-tabs>

		</section>
    </div>
</div>