<div class="container-fluid with-maxwidth no-breadcrumbs chapter" ng-controller="DashboardCtrl">
    <div layout-gt-sm="row">
            <md-input-container class="flex-gt-sm col-md-9" flex-gt-sm>
                <label>Busqueda</label>
                <input ng-model="info.input" ng-disabled="searching">
            </md-input-container>
            <md-input-container class="flex-gt-xs col-md-3" flex-gt-xs>
                <label>Categoria</label>
                <md-select ng-model="info.category" ng-disabled="searching || info.input == null">
                    <md-option ng-repeat="cat in categories" value="{{cat.id}}">
                        {{cat.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-fab md-mini md-primary search-button" ng-click="search()" aria-label="Buscar">
                <md-icon class="material-icons">{{getIcon()}}</md-icon>
            </md-button>
        </div>
    <div class="row">
        <div class="col-lg-3 col-md-6" ng-click="addCart(prod)" ng-repeat="prod in products">
            <a class="item-card">
                <div class="card__image">
                    <img alt="product" ng-src="{{URL + prod.image}}" />
                </div>
                <div class="card__body card-white">
                    <div class="card__title">
                        <h4>{{prod.name}}</h4>
                        <h6>{{prod.description}}</h6>
                    </div>
                    <div class="card__price">
                        <span>${{prod.price}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
