.search-button{
	margin: 10px !important;
	border-radius: 20px !important;
}

.footer-lable{
	margin-top: 0px !important;
	padding-top: 10px !important;
}


.filter-check{
	margin: 5px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}
